.about-bg-wrapper {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 239px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
}

.about-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.about-bg-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;

  @include media(desktop) {
    margin: 0;
    position: absolute;
    bottom: 150px;
    left: 493px;
    z-index: 1;
  }
}

.about-content-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @include media(desktop) {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
  }
}

.about-text-wrapper {
  background: #eac9f8;
  border-radius: 12px;
  padding: 18px;

  @include media(desktop) {
    max-width: 627px;
    max-height: fit-content;
  }
}

.about-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #3a0d51;
  word-break: break-word;
}

.about-img {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.about-img-glove {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: -63px;
    left: 38px;
  }
}
