.characters-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.characters-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.characters-container {
  padding-left: 0;
  padding-right: 0;
}

.characters-swiper-container {
  max-width: 305px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.characters-swiper-container.show {
  visibility: visible;
}

.characters-slide {
  background: #eac9f8;
  border-radius: 12px;
  padding: 28px 22px 40px 22px;
  max-width: 305px;
  height: 312px !important;
}

.characters-picture-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.characters-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #e15f39;
  margin-bottom: 14px;
}

.characters-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3a0d51;
}
