.features-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.features-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.features-container {
  padding-left: 0;
  padding-right: 0;
}

.features-swiper-container {
  max-width: 305px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.features-swiper-container.show {
  visibility: visible;
}

.features-slide {
  background: #eac9f8;
  border-radius: 12px;
  padding: 28px 22px 40px 22px;
  max-width: 305px;
  height: 312px !important;
}

.features-picture-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.features-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #e15f39;
  margin-bottom: 14px;
}

.features-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3a0d51;
}

.controls {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    gap: 104px;
  }
}

.arrow-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}
