.hero-section {
  @include media(desktop) {
    padding-bottom: 0px;
  }
}

.hero-bg-wrapper {
  padding-top: 130px;
  padding-bottom: 9px;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 375px;
  margin: 0 auto;
  position: relative;

  @include media(desktop) {
    background-image: url(../img/hero/hero-bg-desk.jpg);
    padding-top: 0px;
    padding-bottom: 0px;
    height: 820px;
    max-width: 1440px;
  }
}

.hero-title-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 132px;

  @include media(desktop) {
    display: none;
  }
}

.hero-girl-img {
  margin: 0 auto;

  @include media(desktop) {
    display: none;
  }
}

.hero-apple-img {
  position: absolute;
  bottom: 26px;
  left: 32px;

  @include media(desktop) {
    display: none;
  }
}

.hero-left-ellipse-img {
  position: absolute;
  bottom: 233px;
  left: 27px;

  @include media(desktop) {
    display: none;
  }
}

.hero-right-ellipse-img {
  position: absolute;
  top: 347px;
  right: 32px;

  @include media(desktop) {
    display: none;
  }
}
