.hero-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.hero-bg-wrapper {
  padding-top: 104px;
  padding-bottom: 382px;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 375px;
  margin: 0 auto;
  position: relative;

  @include media(desktop) {
    background-image: url(../img/hero/hero-bg-desk.jpg);
    padding-top: 105px;
    padding-bottom: 286px;
    max-width: 1440px;
  }
}

.hero-title-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}

.hero-boy-img {
  position: absolute;
  bottom: 0;
  left: 25px;

  @include media(desktop) {
    left: 80px;
  }
}

.hero-girl-img {
  position: absolute;
  bottom: 0;
  right: 25px;

  @include media(desktop) {
    right: 80px;
  }
}
