.play-bg-wrapper {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 150px;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  }
}

.play-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.play-bg-img {
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.play-content-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media(desktop) {
    padding-left: 0;
    padding-right: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }
}

.play-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.play-list-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.play-bottom-list-item {
  @include media(desktop) {
    flex-direction: row-reverse;
  }
}

.play-item-text-wrapper {
  max-width: 200px;

  @include media(desktop) {
    max-width: 302px;
  }
}

.play-img {
  min-width: 114px;

  @include media(desktop) {
    max-width: 196px;
  }
}

.play-item-text {
  font-family: 'Chewy', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #4a2b5f;
}
