<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <h2 class="section-title about-title">About the Game</h2>
    <div class="container about-container">
      <picture>
        <source
          srcset="./img/about/about-bg-desk.png"
          media="(min-width: 1440px)"
          width="325"
          height="184"
        />
        <source
          srcset="./img/about/about-bg-mob.png"
          width="335"
          height="189"
        />
        <img
          class="about-bg-img"
          src="./img/about/about-bg-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="189"
        />
      </picture>
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <p class="about-text">
            Epic Match takes the classic match-3 formula and infuses it with
            magical energy, powerful characters, and endless strategy.<br />
            In this visually stunning game, players embark on an epic journey
            through enchanted worlds, solving puzzles, unlocking unique heroes,
            and mastering legendary boosters. Whether you’re a casual player
            or a match-3 master, you’ll be hooked from your first swap.
          </p>
        </div>
        <img
          class="about-img"
          src="./img/about/about-img-desk.png"
          alt="Screenshot of the game"
          width="522"
          height="295"
        />
        <img
          class="about-img-glove"
          src="./img/about/about-glove-desk.png"
          alt="Screenshot of the game"
          width="179"
          height="197"
        />
      </div>
    </div>
  </div>
</section>
