<section class="section characters-section" id="characters">
  <div class="characters-bg-wrapper">
    <h2 class="section-title characters-title">Main Characters</h2>
    <div class="container characters-container">
      <div class="characters-content-wrapper">
        <div>
          <picture>
            <source
              srcset="./img/characters/characters-girl-desk.png"
              media="(min-width: 1440px)"
              width="414"
              height="375"
            />
            <source
              srcset="./img/characters/characters-girl-mob.png"
              width="336"
              height="305"
            />
            <img
              class="characters-img"
              src="./img/characters/characters-girl-mob.png"
              alt="Screenshot of the game"
              width="336"
              height="305"
            />
          </picture>
          <div class="characters-text-wrapper">
            <p class="characters-name">Mira the Puzzle Scout</p>
            <p class="characters-text">
              Smart, intuitive, and fearless, Mira lights up the board with
              creative combos.
            </p>
          </div>
        </div>
        <div>
          <picture>
            <source
              srcset="./img/characters/characters-boy-desk.png"
              media="(min-width: 1440px)"
              width="414"
              height="375"
            />
            <source
              srcset="./img/characters/characters-boy-mob.png"
              width="336"
              height="305"
            />
            <img
              class="characters-img"
              src="./img/characters/characters-boy-mob.png"
              alt="Screenshot of the game"
              width="336"
              height="305"
            />
          </picture>
          <div class="characters-text-wrapper">
            <p class="characters-name">Aiden the Explorer</p>
            <p class="characters-text">
              Bold and clever, Aiden is always ready for the next puzzle
              adventure.
            </p>
          </div>
        </div>
      </div>
      <img
        class="characters-big-star-img"
        src="./img/characters/characters-big-star.png"
        alt="Screenshot of the game"
        width="83"
        height="93"
      />
      <img
        class="characters-shield-img"
        src="./img/characters/characters-shield.png"
        alt="Screenshot of the game"
        width="230"
        height="232"
      />
      <img
        class="characters-cup-img"
        src="./img/characters/characters-cup.png"
        alt="Screenshot of the game"
        width="92"
        height="93"
      />
      <img
        class="characters-hammer-img"
        src="./img/characters/characters-hammer.png"
        alt="Screenshot of the game"
        width="96"
        height="108"
      />
      <img
        class="characters-small-star-img"
        src="./img/characters/characters-small-star.png"
        alt="Screenshot of the game"
        width="53"
        height="59"
      />
      <img
        class="characters-axe-img"
        src="./img/characters/characters-axe.png"
        alt="Screenshot of the game"
        width="179"
        height="211"
      />
    </div>
  </div>
</section>
