<section class="section characters-section" id="characters">
  <h2 class="section-title">Characters</h2>
  <div class="characters-section-wrapper">
    <div class="container characters-container">
      <div class="characters-swiper-container">
        <ul class="swiper-wrapper characters-swiper-wrapper">
          <li class="swiper-slide characters-slide">
            <div class="characters-picture-wrapper">
              <img
                src="./img/characters/characters-img1.png"
                alt="characters picture"
                width="305"
                height="457"
                loading="lazy"
              />
            </div>
            <h3 class="characters-title">Queen Lyra</h3>
            <p class="characters-text">
              Wise and kind ruler of the Puzzle Kingdom. Helps guide your
              journey and offers tips.
            </p>
          </li>
          <li class="swiper-slide characters-slide">
            <div class="characters-picture-wrapper">
              <img
                src="./img/characters/characters-img2.png"
                alt="characters picture"
                width="305"
                height="457"
                loading="lazy"
              />
            </div>
            <h3 class="characters-title">Sir Twinkle</h3>
            <p class="characters-text">
              A mischievous court wizard who introduces magical boosters.
            </p>
          </li>
          <li class="swiper-slide characters-slide">
            <div class="characters-picture-wrapper">
              <img
                src="./img/characters/characters-img3.png"
                alt="characters picture"
                width="305"
                height="457"
                loading="lazy"
              />
            </div>
            <h3 class="characters-title">Lady Gemina</h3>
            <p class="characters-text">
              Keeper of the Gem Towers and your ally in timed challenges.
            </p>
          </li>
          <li class="swiper-slide characters-slide">
            <div class="characters-picture-wrapper">
              <img
                src="./img/characters/characters-img4.png"
                alt="characters picture"
                width="305"
                height="457"
                loading="lazy"
              />
            </div>
            <h3 class="characters-title">Lord Gloom</h3>
            <p class="characters-text">
              The sneaky villain trying to fog up your path with tricky puzzles.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
