<section class="section features-section" id="features">
  <h2 class="section-title">Features</h2>
  <div class="features-section-wrapper">
    <div class="container features-container">
      <div class="features-swiper-container">
        <ul class="swiper-wrapper features-swiper-wrapper">
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img1.png"
                alt="Features picture"
                width="157"
                height="157"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Unique Heroes</h3>
            <p class="features-text">
              Summon magical allies with game-changing abilities.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img2.png"
                alt="Features picture"
                width="157"
                height="157"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Match-3 Evolved</h3>
            <p class="features-text">
              Combos, chains, and powerful mechanics keep it fresh.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img3.png"
                alt="Features picture"
                width="157"
                height="157"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Multiple Realms</h3>
            <p class="features-text">
              Explore fantasy worlds from icy mountains to fire caverns.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img4.png"
                alt="Features picture"
                width="157"
                height="157"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Daily Rewards</h3>
            <p class="features-text">
              Login bonuses, treasure chests, and events.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img5.png"
                alt="Features picture"
                width="157"
                height="157"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Challenging Puzzles</h3>
            <p class="features-text">
              Strategy matters: plan your moves for maximum impact.
            </p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img6.png"
                alt="Features picture"
                width="157"
                height="157"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Offline Gameplay</h3>
            <p class="features-text">Enjoy anywhere, no internet needed.</p>
          </li>
          <li class="swiper-slide features-slide">
            <div class="features-picture-wrapper">
              <img
                src="./img/features/features-img7.png"
                alt="Features picture"
                width="157"
                height="157"
                loading="lazy"
              />
            </div>
            <h3 class="features-title">Free to Play</h3>
            <p class="features-text">Dive in without paying a coin.</p>
          </li>
        </ul>
      </div>
      <div class="controls">
        <button
          class="arrow-btn"
          id="featuresLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="46" height="22">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button
          class="arrow-btn"
          id="featuresRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="46" height="22">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
