<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <h2 class="section-title features-title">Gameplay Highlights</h2>
    <div class="container features-container">
      <picture>
        <source
          srcset="./img/features/features-bg-desk.png"
          media="(min-width: 1440px)"
          width="630"
          height="371"
        />
        <source
          srcset="./img/features/features-bg-mob.png"
          width="375"
          height="221"
        />
        <img
          class="features-bg-img"
          src="./img/features/features-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="221"
          loading="lazy"
        />
      </picture>
      <div class="features-content-wrapper">
        <ul class="features-list">
          <li class="features-list-item">
            <img
              src="../img/features/features-img1.png"
              alt="Gem"
              class="features-img"
              width="58"
              height="54"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <h3 class="features-item-title">Hundreds of Levels</h3>
              <p class="features-item-text">
                Every level is packed with twists, goals, and surprises.
              </p>
            </div>
          </li>
          <li class="features-list-item">
            <img
              src="../img/features/features-img2.png"
              alt="Gem"
              class="features-img"
              width="58"
              height="54"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <h3 class="features-item-title">Royal Boosters</h3>
              <p class="features-item-text">
                Use powerful items to clear tricky spots.
              </p>
            </div>
          </li>
          <li class="features-list-item">
            <img
              src="../img/features/features-img3.png"
              alt="Gem"
              class="features-img"
              width="58"
              height="54"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <h3 class="features-item-title">Evolving Map</h3>
              <p class="features-item-text">
                Unlock charming new regions as you advance.
              </p>
            </div>
          </li>
          <li class="features-list-item">
            <img
              src="../img/features/features-img4.png"
              alt="Gem"
              class="features-img"
              width="58"
              height="54"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <h3 class="features-item-title">Daily Spin & Events</h3>
              <p class="features-item-text">
                Win rewards, boosters, and more each day!
              </p>
            </div>
          </li>
          <li class="features-list-item">
            <img
              src="../img/features/features-img5.png"
              alt="Gem"
              class="features-img"
              width="58"
              height="54"
              loading="lazy"
            />
            <div class="features-item-text-wrapper">
              <h3 class="features-item-title">Creative Challenges</h3>
              <p class="features-item-text">
                More than just matching: clear fog, break chains, and collect
                crowns.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
