<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <picture>
        <source
          srcset="./img/hero/hero-title-desk.png"
          media="(min-width: 1440px)"
          width="513"
          height="429"
        />
        <source
          srcset="./img/hero/hero-title-mob.png"
          width="375"
          height="314"
        />
        <img
          class="hero-title-img"
          src="./img/hero/hero-title-mob.png"
          alt="Title"
          width="375"
          height="314"
        />
      </picture>
      <picture>
        <source
          srcset="./img/hero/hero-boy-desk.png"
          media="(min-width: 1440px)"
          width="337"
          height="627"
        />
        <source srcset="./img/hero/hero-boy-mob.png" width="139" height="285" />
        <img
          class="hero-boy-img"
          src="./img/hero/hero-boy-mob.png"
          alt="Boy"
          width="139"
          height="285"
        /> </picture
      ><picture>
        <source
          srcset="./img/hero/hero-girl-desk.png"
          media="(min-width: 1440px)"
          width="306"
          height="627"
        />
        <source
          srcset="./img/hero/hero-girl-mob.png"
          width="139"
          height="285"
        />
        <img
          class="hero-girl-img"
          src="./img/hero/hero-girl-mob.png"
          alt="Girl"
          width="139"
          height="285"
        />
      </picture>
    </div>
  </div>
</section>
