<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <img
        class="hero-title-img"
        src="./img/hero/hero-title-mob.png"
        alt="Title"
        width="335"
        height="150"
      />
      <img
        class="hero-girl-img"
        src="./img/hero/hero-girl-mob.png"
        alt="Girl"
        width="268"
        height="379"
      />
      <img
        class="hero-apple-img"
        src="./img/hero/hero-apple-mob.png"
        alt="Apple"
        width="108"
        height="117"
      />
      <img
        class="hero-left-ellipse-img"
        src="./img/hero/hero-left-ellipse-mob.png"
        alt="Ellipse"
        width="57"
        height="52"
      />
      <img
        class="hero-right-ellipse-img"
        src="./img/hero/hero-right-ellipse-mob.png"
        alt="Ellipse"
        width="59"
        height="53"
      />
    </div>
  </div>
</section>
