<section class="section play-section" id="play">
  <div class="play-bg-wrapper">
    <h2 class="section-title play-title">How to Play</h2>
    <div class="container play-container">
      <picture>
        <source
          srcset="./img/play/play-bg-desk.png"
          media="(min-width: 1440px)"
          width="630"
          height="420"
        />
        <source srcset="./img/play/play-bg-mob.png" width="375" height="250" />
        <img
          class="play-bg-img"
          src="./img/play/play-bg-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="250"
        />
      </picture>
      <div class="play-content-wrapper">
        <ul class="play-list">
          <li class="play-list-item">
            <p class="play-item-text">
              Match 3 or more gems of the same color.
            </p>
          </li>
          <li class="play-list-item">
            <p class="play-item-text">
              Match 4+ tiles in fun shapes to trigger specials.
            </p>
          </li>
          <li class="play-list-item">
            <p class="play-item-text">
              Activate your heroes' abilities when fully charged.
            </p>
          </li>
          <li class="play-list-item">
            <p class="play-item-text">
              Beat the objectives before you run out of moves.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <img
      class="play-small-star-img"
      src="./img/play/play-small-star.png"
      alt="Screenshot of the game"
      width="32"
      height="36"
    />
    <img
      class="play-medium-star-img"
      src="./img/play/play-medium-star.png"
      alt="Screenshot of the game"
      width="54"
      height="60"
    />
    <img
      class="play-big-star-img"
      src="./img/play/play-big-star.png"
      alt="Screenshot of the game"
      width="84"
      height="93"
    />
  </div>
</section>
