<section class="section play-section" id="play">
  <div class="play-bg-wrapper">
    <h2 class="section-title play-title">How It Works</h2>
    <div class="container play-container">
      <picture>
        <source
          srcset="./img/play/play-bg-desk.png"
          media="(min-width: 1440px)"
          width="220"
          height="208"
        />
        <source srcset="./img/play/play-bg-mob.png" width="335" height="316" />
        <img
          class="play-bg-img"
          src="./img/play/play-bg-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="316"
          loading="lazy"
        />
      </picture>
      <div class="play-content-wrapper">
        <div class="play-list">
          <div class="play-list-item">
            <picture>
              <source
                srcset="./img/play/play-img1-desk.png"
                media="(min-width: 1440px)"
                width="196"
                height="102"
              />
              <source
                srcset="./img/play/play-img1-mob.png"
                width="114"
                height="102"
              />
              <img
                class="play-img"
                src="./img/play/play-img1-mob.png"
                alt="Screenshot of the game"
                width="114"
                height="102"
                loading="lazy"
              />
            </picture>
            <div class="play-item-text-wrapper">
              <p class="play-item-text">
                Match 3 or more jewels to clear the board
              </p>
            </div>
          </div>
          <div class="play-list-item">
            <picture>
              <source
                srcset="./img/play/play-img2-desk.png"
                media="(min-width: 1440px)"
                width="196"
                height="102"
              />
              <source
                srcset="./img/play/play-img2-mob.png"
                width="114"
                height="102"
              />
              <img
                class="play-img"
                src="./img/play/play-img2-mob.png"
                alt="Screenshot of the game"
                width="114"
                height="102"
                loading="lazy"
              />
            </picture>
            <div class="play-item-text-wrapper">
              <p class="play-item-text">
                Complete unique objectives in each level (collect crowns, clear
                fog, free gems)
              </p>
            </div>
          </div>
        </div>
        <div class="play-list play-bottom-list">
          <div class="play-list-item play-bottom-list-item">
            <picture>
              <source
                srcset="./img/play/play-img3-desk.png"
                media="(min-width: 1440px)"
                width="196"
                height="102"
              />
              <source
                srcset="./img/play/play-img3-mob.png"
                width="114"
                height="102"
              />
              <img
                class="play-img"
                src="./img/play/play-img3-mob.png"
                alt="Screenshot of the game"
                width="114"
                height="102"
                loading="lazy"
              />
            </picture>
            <div class="play-item-text-wrapper">
              <p class="play-item-text">
                Use boosters like the Royal Wand and Crown Bomb to turn the tide
              </p>
            </div>
          </div>
          <div class="play-list-item play-bottom-list-item">
            <picture>
              <source
                srcset="./img/play/play-img4-desk.png"
                media="(min-width: 1440px)"
                width="196"
                height="102"
              />
              <source
                srcset="./img/play/play-img4-mob.png"
                width="114"
                height="102"
              />
              <img
                class="play-img"
                src="./img/play/play-img4-mob.png"
                alt="Screenshot of the game"
                width="114"
                height="102"
                loading="lazy"
              />
            </picture>
            <div class="play-item-text-wrapper">
              <p class="play-item-text">
                Unlock and explore magical lands as you win stars
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
