<section class="section reviews-section" id="reviews">
  <h2 class="section-title reviews-title">Reviews</h2>
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <picture>
        <source
          srcset="./img/reviews/reviews-bg-desk.png"
          media="(min-width: 1440px)"
          width="433"
          height="387"
        />
        <source
          srcset="./img/reviews/reviews-bg-mob.png"
          width="335"
          height="300"
        />
        <img
          class="reviews-bg-img"
          src="./img/reviews/reviews-bg-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="300"
          loading="lazy"
        />
      </picture>
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-empress.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">CasualEmpress</h3>
            </div>
            <p class="reviews-text">
              “I play every day after work. It’s the perfect wind-down!”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-sage.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">PuzzleSage</h3>
            </div>
            <p class="reviews-text">
              “Stunning visuals and creative level design. Love it!”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-rose.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">RegalRose</h3>
            </div>
            <p class="reviews-text">
              “Sir Twinkle is hilarious. Great companion character.”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-diva.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">JewelDiva92</h3>
            </div>
            <p class="reviews-text">
              “Such a relaxing and beautiful game. I love Queen Lyra!”
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-tapper.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">RoyalTapper</h3>
            </div>
            <p class="reviews-text">
              “Love the fantasy theme. It’s like Candy Crush with a crown!”
            </p>
          </li>
        </ul>
      </div>
      <ul class="reviews-list-desk">
        <li class="reviews-list-item-desk">
          <div class="reviews-avatar-wrapper">
            <img
              class="reviews-avatar-img"
              src="./img/reviews/reviews-avatar-empress.png"
              alt="Avatar"
              width="72"
              height="72"
              loading="lazy"
            />
            <h3 class="reviews-name">CasualEmpress</h3>
          </div>
          <p class="reviews-text">
            “I play every day after work. It’s the perfect wind-down!”
          </p>
        </li>
        <li class="reviews-list-item-desk">
          <div class="reviews-avatar-wrapper">
            <img
              class="reviews-avatar-img"
              src="./img/reviews/reviews-avatar-sage.png"
              alt="Avatar"
              width="72"
              height="72"
              loading="lazy"
            />
            <h3 class="reviews-name">PuzzleSage</h3>
          </div>
          <p class="reviews-text">
            “Stunning visuals and creative level design. Love it!”
          </p>
        </li>
        <li class="reviews-list-item-desk">
          <div class="reviews-avatar-wrapper">
            <img
              class="reviews-avatar-img"
              src="./img/reviews/reviews-avatar-rose.png"
              alt="Avatar"
              width="72"
              height="72"
              loading="lazy"
            />
            <h3 class="reviews-name">RegalRose</h3>
          </div>
          <p class="reviews-text">
            “Sir Twinkle is hilarious. Great companion character.”
          </p>
        </li>
        <li class="reviews-list-item-desk">
          <div class="reviews-avatar-wrapper">
            <img
              class="reviews-avatar-img"
              src="./img/reviews/reviews-avatar-diva.png"
              alt="Avatar"
              width="72"
              height="72"
              loading="lazy"
            />
            <h3 class="reviews-name">JewelDiva92</h3>
          </div>
          <p class="reviews-text">
            “Such a relaxing and beautiful game. I love Queen Lyra!”
          </p>
        </li>
        <li class="reviews-list-item-desk">
          <div class="reviews-avatar-wrapper">
            <img
              class="reviews-avatar-img"
              src="./img/reviews/reviews-avatar-tapper.png"
              alt="Avatar"
              width="72"
              height="72"
              loading="lazy"
            />
            <h3 class="reviews-name">RoyalTapper</h3>
          </div>
          <p class="reviews-text">
            “Love the fantasy theme. It’s like Candy Crush with a crown!”
          </p>
        </li>
      </ul>
    </div>
    <img
      class="reviews-big-red-candy-img"
      src="./img/reviews/reviews-big-red-candy.png"
      alt="Candy"
      width="97"
      height="96"
      loading="lazy"
    />
    <img
      class="reviews-small-blue-candy-img"
      src="./img/reviews/reviews-small-blue-candy.png"
      alt="Candy"
      width="36"
      height="36"
      loading="lazy"
    />
    <img
      class="reviews-big-blue-candy-img"
      src="./img/reviews/reviews-big-blue-candy.png"
      alt="Candy"
      width="121"
      height="121"
      loading="lazy"
    />
    <img
      class="reviews-small-red-candy-img"
      src="./img/reviews/reviews-small-red-candy.png"
      alt="Candy"
      width="49"
      height="49"
      loading="lazy"
    />
  </div>
</section>
