<section class="section reviews-section" id="reviews">
  <h2 class="section-title reviews-title">Reviews</h2>
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-rating-img"
              src="./img/reviews/reviews-5-stars.png"
              alt="Rating"
              width="100"
              height="16"
              loading="lazy"
            />
            <p class="reviews-text">
              "Finally, a match-3 game with personality! The heroes make all the
              difference."
            </p>
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-jasmine.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">Jasmine R.:</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-rating-img"
              src="./img/reviews/reviews-5-stars.png"
              alt="Rating"
              width="100"
              height="16"
              loading="lazy"
            />
            <p class="reviews-text">
              "The perfect mix of puzzle and RPG. Epic fun!"
            </p>
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-dev.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">Dev S.:</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-rating-img"
              src="./img/reviews/reviews-5-stars.png"
              alt="Rating"
              width="100"
              height="16"
              loading="lazy"
            />
            <p class="reviews-text">
              "The art is fantastic and the levels feel fresh every time. Love
              the challenge."
            </p>
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-leo.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">Leo M.:</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-rating-img"
              src="./img/reviews/reviews-5-stars.png"
              alt="Rating"
              width="100"
              height="16"
              loading="lazy"
            />
            <p class="reviews-text">
              "Liora’s power saved me so many times — I’m addicted!"
            </p>
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-aiko.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">Aiko L.:</h3>
            </div>
          </li>
          <li class="swiper-slide reviews-slide">
            <img
              class="reviews-rating-img"
              src="./img/reviews/reviews-4-stars.png"
              alt="Rating"
              width="100"
              height="16"
              loading="lazy"
            />
            <p class="reviews-text">
              "Offline play is a huge bonus. It's my go-to game during
              commutes."
            </p>
            <div class="reviews-avatar-wrapper">
              <img
                class="reviews-avatar-img"
                src="./img/reviews/reviews-avatar-maya.png"
                alt="Avatar"
                width="72"
                height="72"
                loading="lazy"
              />
              <h3 class="reviews-name">Maya T.:</h3>
            </div>
          </li>
        </ul>
      </div>
      <ul class="reviews-list-desk">
        <li class="reviews-list-item-desk">
          <img
            class="reviews-rating-img"
            src="./img/reviews/reviews-5-stars.png"
            alt="Rating"
            width="100"
            height="16"
            loading="lazy"
          />
          <p class="reviews-text">
            "Finally, a match-3 game with personality! The heroes make all the
            difference."
          </p>
          <div class="reviews-avatar-wrapper">
            <img
              class="reviews-avatar-img"
              src="./img/reviews/reviews-avatar-jasmine.png"
              alt="Avatar"
              width="72"
              height="72"
              loading="lazy"
            />
            <h3 class="reviews-name">Jasmine R.:</h3>
          </div>
        </li>
        <li class="reviews-list-item-desk">
          <img
            class="reviews-rating-img"
            src="./img/reviews/reviews-5-stars.png"
            alt="Rating"
            width="100"
            height="16"
            loading="lazy"
          />
          <p class="reviews-text">
            "The perfect mix of puzzle and RPG. Epic fun!"
          </p>
          <div class="reviews-avatar-wrapper">
            <img
              class="reviews-avatar-img"
              src="./img/reviews/reviews-avatar-dev.png"
              alt="Avatar"
              width="72"
              height="72"
              loading="lazy"
            />
            <h3 class="reviews-name">Dev S.:</h3>
          </div>
        </li>
        <li class="reviews-list-item-box">
          <img
            class="reviews-puzzle-img"
            src="./img/reviews/reviews-box.png"
            alt="Puzzle"
            width="250"
            height="210"
            loading="lazy"
          />
        </li>
        <li class="reviews-list-item-desk">
          <img
            class="reviews-rating-img"
            src="./img/reviews/reviews-5-stars.png"
            alt="Rating"
            width="100"
            height="16"
            loading="lazy"
          />
          <p class="reviews-text">
            "The art is fantastic and the levels feel fresh every time. Love the
            challenge."
          </p>
          <div class="reviews-avatar-wrapper">
            <img
              class="reviews-avatar-img"
              src="./img/reviews/reviews-avatar-leo.png"
              alt="Avatar"
              width="72"
              height="72"
              loading="lazy"
            />
            <h3 class="reviews-name">Leo M.:</h3>
          </div>
        </li>
        <li class="reviews-list-item-desk">
          <img
            class="reviews-rating-img"
            src="./img/reviews/reviews-5-stars.png"
            alt="Rating"
            width="100"
            height="16"
            loading="lazy"
          />
          <p class="reviews-text">
            "Liora’s power saved me so many times — I’m addicted!"
          </p>
          <div class="reviews-avatar-wrapper">
            <img
              class="reviews-avatar-img"
              src="./img/reviews/reviews-avatar-aiko.png"
              alt="Avatar"
              width="72"
              height="72"
              loading="lazy"
            />
            <h3 class="reviews-name">Aiko L.:</h3>
          </div>
        </li>
        <li class="reviews-list-item-desk">
          <img
            class="reviews-rating-img"
            src="./img/reviews/reviews-4-stars.png"
            alt="Rating"
            width="100"
            height="16"
            loading="lazy"
          />
          <p class="reviews-text">
            "Offline play is a huge bonus. It's my go-to game during commutes."
          </p>
          <div class="reviews-avatar-wrapper">
            <img
              class="reviews-avatar-img"
              src="./img/reviews/reviews-avatar-maya.png"
              alt="Avatar"
              width="72"
              height="72"
              loading="lazy"
            />
            <h3 class="reviews-name">Maya T.:</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
